footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    height: 100%;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  }
  
  .left-content {
    max-width: 60%;
    flex: 1; /* Take remaining space on smaller screens */
  }
  
  .right-content {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Add top margin to separate from left content */
  }
  
  .social-icons {
    margin-right: 20px;
    display: flex;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .social-icons {
      flex-direction: column; /* Stack icons vertically on smaller screens */
      align-items: flex-start; /* Align icons to the left on smaller screens */
      margin-right: 0; /* Remove right margin on smaller screens */
    }
  }
  .social-icons .social-icon:not(:last-child) {
    margin-right: 15px;
  }  
  
  hr {
    border: 0;
    height: 1px;
    background: red;
    margin: 20px 0;
    width: 100%; /* Make the hr span the full width */
  }
  
  .copyright {
    text-align: center;
    padding: 10px 0;
    flex-basis: 100%; /* Ensure copyright text takes full width on smaller screens */
  }
  